<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" >
    <title>Login</title>
    <link rel="stylesheet "href="../static/stylec.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="contact-section">

        <h1>Contact Us</h1>
        <div class="border"></div>
        <form class="contact-form" action="" method="post">
          <input type="text" class="contact-form-text" name="usern"placeholder="Username">
          <input type="text" class="contact-form-text" name ="restn" placeholder="Restaurant Name">
          <input type="text" class="contact-form-text" name="point" placeholder="Your point out of 10">
          <textarea class="contact-form-text" name="comm" placeholder="Your message"></textarea>
          <input type="submit" class="contact-form-btn" value="Send">
        </form>
      </div>
</body>