<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" >
    <title>Login</title>
    <link rel="stylesheet "href="../static/style.css">
</head>
<body>
    <form class="box" action="" method="POST">
        <h1>
            LOGIN
        </h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <a href="profile.html"><input type="submit" name="" value="Login"></a>
        <hr>
        <a href="/signup">Create an account</a>
    </form>
</body>
</html>