<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="../static/stylep.css">
</head>
<body>
  <div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img src="#" alt="">
      </div>
      <div class="name">{{g.username}}</div>
      <div class="desc">{{g.email}}</div>
      <a href="/restaurants" class="contact-btn">Browse</a>
    </div>
  </div>
</body>
</html>